@import '../../styles/shared';

.section {
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.unit {
  width: calc((100% - 78px) / 4);
  margin-right: 26px;
  margin-bottom: 25px;
  @include breakpoint($desktop) {
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  @include breakpoint($tablet) {
    width: calc((100% - 52px) / 3);
    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
  @include breakpoint($phone) {
    width: calc((100% - 26px) / 2);
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}
