@import 'normalize';

body {
  font-family: sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  //border: 1px solid red;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
